html {
    height: auto;
    width: auto;
}

body {
    background-image: url('https://i.postimg.cc/pLVXT9XY/istockphoto-639173848-612x612.jpg');
    margin: auto;
    background-color: #303030;
}

#header {
    width: 100%;
    background-color: #e4dcd1;
    border-radius: 20px;
}

.width-15 {
    width: 15%;
}

.width-30 {
    width: 30%;
}

.width-70 {
    width: 70%;
}

.width-80 {
    width: 80%;
}

.width-full {
    width: 100%;
}

.height-180 {
    height: 180px;
}

.text-center {
    text-align: center;
}

.text-tan {
    color: #e4dcd1;
}

.text-white {
    color: white;
}

hr {
    background-color: #E4DCD1;
    border-radius: 15px;
    height: 8px;
}

hr .width-90 {
    background-color: #E4DCD1;
    border-radius: 15px;
    height: 8px;
    width: 10px;
}


.center {
    margin-left: auto;
    margin-right: auto;
}

details > summary {
    cursor: pointer;
}

.top {
    place-self: end;
    position: sticky;
    bottom: 20px;
    margin-left: 20px;
    margin-top: 100vh;
    text-decoration: none;
    padding: 10px;
    color: #000;
    background: #E4DCD1;
    border-radius: 50px;
}

footer {
    font-size: 20px;
    text-align: center;
    padding: 25px 5px 5px 5px;
    background-color: #E4DCD1;
    color: #000;
    border-radius: 20px;
    height: 180px;
}

.thankyoupage {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Links */
/* This is styling the links to look like buttons. */
.styled {
    border: 0;
    line-height: 2.5;
    padding: 10px 20px;
    font-size: 1rem;
    text-align: center;
    color: #000;
    text-shadow: 1px 1px 1px #fff;
    border-radius: 10px;
    background-color: #E4DCD1;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow:
        inset 2px 2px 3px rgba(255, 255, 255, 0.6),
        inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    align-items: center;
}

.styled:hover {
      background-color: rgb(255, 255, 255);
}

.styled:active {
      box-shadow:
          inset -2px -2px 3px rgba(255, 255, 255, 0.6),
          inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

a:active {
    color: #000;
    text-decoration: none;
}

a:link {
    color: #000;
    text-decoration: none;
}

a:visited {
    color: #000;
    text-decoration: none;
}

.inline {
    padding: 12px 12px 12px 0;
    display: inline-block;
}


/* Fonts and their sizes */
* {
    font-family: cursive;
} 
/* I wanted to use this font for the whole website. */

.font-2vw {
    font-size: 1.5vw;
    text-decoration: none;
}

.font-40 {
    font-size: 40px;
}

.font-50 {
    font-size: 50px;
}

.font-50-tan {
    font-size: 50px;
    color: #E4DCD1;
}

.font-20 {
    font-size: 20px;
}

.font-25 {
    font-size: 25px;
}

/* Image styling */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

div.pics:hover {
    transform: scale(1.3);
    transition: all .3s ease-in-out;
}
  
div.pics img {
    width: 100%;
    height: auto;
}
  
div.desc {
    padding: 15px;
    text-align: center;
}
  
.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}
  
@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}
  
@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}
  
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.none {
    text-decoration: none;
}

/* Contact form styling */
* {
    box-sizing: border-box;
}
  
input[type=text], input[type=email], input[type=tel], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    resize: vertical;
}
  
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
  
input[type=submit] {
    background-color: #e4dcd1;
    color: #000;
    padding: 12px 20px;
    border-radius: 20px;
    cursor: pointer;
    float: right;
}
  
input[type=submit]:hover {
    background-color: aqua;
}

input:focus {
    background-color: rgb(167, 165, 152);
}
  
.container {
    border-radius: 20px;
    background-color: #e4dcd1;
    padding: 20px;
}
  
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
  
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

button {
    border-radius: 20px;
}

button:focus {
    background-color: aqua;
}

button:hover {
    color: aqua;
    text-decoration: none;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
}